* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.secondary-Container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
}

#header {
    display: flex;
    color: rgb(39, 38, 38);
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;


}

.optionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 470px;
    background-color: transparent;
}

button {
    height: 40px;
    width: 150px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    transition: .3s;
}

button:hover {
    transform: scale(1.1);
}

input {
    height: 25px;
    width: 150px;
}

.sketchPad {
    display: grid;
    background-color: white;
    min-height: 450px;
    min-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #000;
}

.squaresInsidePad {
    /*border: 1px solid rgb(54, 53, 53);*/
    /* background-color: yellow; */
}

#btnSetSize:hover, #btnBlack:hover, #btnRainbow:hover 
{
    background-color: rgb(39, 38, 38);
    color: white;
}